

@using Data.Services

<Title>@Utils.LC("Трубопроводы для отопления, водоснабжения, охлаждения от производителя. Интернет-магазин БИР ПЕКС", "", lang)</Title>
<Meta Name="description" Content="@Utils.LC("Производство и продажа современных трубопроводов. Каталог труб и деталей трубопроводов от производителя БИР ПЕКС в Интернет-магазине с доставкой по России.", "", lang)" />
<Link Rel="canonical" Href="@Settings.HomePage"/>
<link href="/css/desktop/index.css" rel="stylesheet" />


<JS Name="Module.Index" />

<div class="skoba2-index">
    <div class="skoba1">
    </div>
    <h1 class="txt-talk">
        @Utils.LC("Комплектующие для качественных современных систем водоснабжения, отопления, охлаждения и полива", "", lang)
    </h1>
    <div class="skoba2">
    </div>
</div>
<!-- Начало инфографики-->
<div class="infogra-new-container">
    <div class="infogra-row1">
        <div class="txt-solution">Наши преимущества - прозрачность и добросовестность</div>
    </div>

    <div class="infogra-bg"><div class="infogra-bg-line"></div></div>

    <div class="infogra-img1 infogra-id-img"></div>
    <div class="infogra-img2 infogra-id-img"></div>
    <div class="infogra-img3 infogra-id-img"></div>
    <div class="infogra-img4 infogra-id-img"></div>
    <div class="infogra-img5 infogra-id-img"></div>
    <div class="infogra-img6 infogra-id-img"></div>
    <div class="infogra-img7 infogra-id-img"></div>
    <div class="infogra-img8 infogra-id-img" id="infogra-img8"></div>
    <div class="infogra-img9"></div>

    <div class="infogra-container-txt1 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Строительство", "Building", lang)</div></div>
    </div>
    <div class="infogra-line1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155.17 247.83">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>

    <div class="infogra-container-txt2 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Сырьё", "Raw materials", lang)</div></div>
    </div>
    <div class="infogra-line2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.37 233.16">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>
    <div class="infogra-container-txt3 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Индустрия", "Industry", lang)</div></div>

    </div>
    <div class="infogra-line3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380.65 319.84">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>
    <div class="infogra-container-txt4 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Продажи", "Sales", lang)</div></div>
    </div>
    <div class="infogra-line4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.65 1">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>
    <div class="infogra-container-txt5 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("База «Бир Пекс»", "Byr Pex HQ", lang)</div></div>

    </div>
    <div class="infogra-line5">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.98 20.33">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>

    <div class="infogra-container-txt6 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Проектирование", "Engineering", lang)</div></div>

    </div>
    <div class="infogra-line6">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153.75 218.97">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>
    <div class="infogra-container-txt7 infogra-id">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Лаборатория", "Laboratory", lang)</div></div>
    </div>
    <div class="infogra-line7">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 397.65 366">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>
    <div class="infogra-container-txt8 infogra-id" id="infogra-container-txt8">
        <div class="infogra-all"><div class="infogra-all-txt">@Utils.LC("Производство", "Production", lang)</div></div>
    </div>
    <div class="infogra-line8">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 397.65 366">
            <defs>
                <style>
                    .infogra-path {
                        fill: none;
                        stroke: #662d91;
                        stroke-linecap: round;
                        opacity: 0.5;
                    }
                </style>
            </defs>
            <path class="infogra-path" d="" />
        </svg>
    </div>
    <a href="https://www.youtube.com/watch?v=I9WQhE0wq6k&list=PL8WswMf69c5O_GM76oAsB7B0Yqtd2Od9j&index=3&t=0s" target="_blank">
        <div class="infogra-container-txt9">
            <div class="infogra-txt">
                Единственные трубы<br>
                <div style="font-size: 1.2em;">6 КЛАССА</div>
            </div>
            <div class="infogra-youtube"></div>
        </div>
    </a>

    <div class="infogra-rowlast">
        <div class="project"></div>
        <div class="txt-solution">Заказать проект</div>
    </div>

    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Строительство</div>
            <div class="infogra-popup-desc-2">
                Корпорация БИР ПЕКС предоставляет услуги строительного генподряда/подряда по монтажу внутренних инженерных систем. Корпорация проводит весь комплекс работ по устройству внутренних инженерных систем и настройке оборудования на всей территории России.
                <br><br>&nbsp;Нами смонтированы системы более чем 2 млн. кв.м. жилых и общественных зданий. Полученные свидетельства о допуске к определенному виду или видам работ, которые оказывают влияние на безопасность объектов капитального строительства, подтверждают профессионализм специалистов Корпорации.
                <br><br>&nbsp;Силами квалифицированных специалистов осуществляется полный цикл работ по консультациям, выбору оптимальных моделей оборудования и схем его размещения, монтажу, пусконаладочным работам и вводу систем в эксплуатацию, включая все необходимые мероприятия для ввода объекта в эксплуатацию в соответствующих согласовательных и разрешительных органах.
            </div>
            <div class="infogra-popup-x"></div>

        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Изготовители сырья</div>
            <div class="infogra-popup-desc-2">
                Освоение новых видов продукции для систем водоснабжения и серийный выпуск большого ассортимента уже известных потребителю полимерных труб и фитингов, требует проведения длительных и объёмных экспериментальных работ, с целью поиска и отбора лучших изготовителей сырья и расходных компонентов из множества, представленных на рынке.
                <br><br>&nbsp;Основными критериями в оценке пригодности полимерного материала для изготовления напорных труб и фитингов являются такие показатели как:
                <br><br>- безопасность применения для систем питьевого водоснабжения;
                <br>- высокая термическая стабильность для систем отопления и ГВС;
                <br>- длительная гидростатическая прочность;
                <br>- технологическая стабильность показателей переработки сырья.

                <br><br>&nbsp;По итогам проведения тестовых работ выбор был сделан в пользу признанных лидеров европейской (PE-Xb) и азиатской (PE-RT) химической промышленности:
                <br><br>- «MICROPOL» (Англия);
                <br>- «SILON» (Чехия);
                <br>- «LG Chem» (Корея),
                <br><br>трубные термопласты которых отвечают высоким требованиям, предъявляемым мировыми стандартами к напорным трубам.
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Индустрия</div>
            <div class="infogra-popup-desc-2">
                Современные тенденции рынка позволяют производителям идти на недопустимое, для долгосрочной эксплуатации изделий, удешевление, путём снижения расхода материалов и качества исходного сырья.
                <br><br>&nbsp;В случае с объектами капитального строительства, этому способствует законодательно закрепленное отсутствие ответственности застройщика для срока службы инженерных систем более 5-ти лет, что, безусловно, идет вразрез с потребностью конечного покупателя.
                <br><br>&nbsp;Корпорация Бир Пекс придерживается сбалансированной ценовой политики в отношении выпускаемой продукции, с учетом добросовестного соответствия всех её технических параметров для всего срока службы и всех областей применения.
                <br><br>&nbsp;Мы стараемся работать на благо всех существующих и потенциальных клиентов, разграничивая «необходимое» от «желаемого» и не вводя потребителя в заблуждение наличием большого разнообразия номенклатуры труб для разных целей (<a href="@Utils.LangHref(lang,"solutions/vodosnabzhenie")">водоснабжение</a>, <a href="@Utils.LangHref(lang,"solutions/teplyj_pol")">тёплый пол</a>, <a href="@Utils.LangHref(lang,"solutions/otoplenie")">радиаторное отопление</a> и т.д.).
                <br><br>&nbsp;Унификация нашей продукции по сортаменту позволяет сократить транспортные и складские расходы наших представителей и дилеров, что уменьшает конечную стоимость систем БИР ПЕКС.
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Продажи</div>
            <div class="infogra-popup-desc-2">
                Торговая сеть Корпорации Бир Пекс представлена в 13ти городах России и в странах ближнего зарубежья. Во всех офисах вам предложат квалифицированную помощь при подборе продукции, предоставят рекламные и технические каталоги, обеспечат максимально быструю поставку.
                <br><br>&nbsp;Корпорация Бир Пекс успешно сотрудничает с крупнейшими строительными организациями: ЗАО «ДОН-строй», ЗАО «СпецВысотСтрой», СК «СУ-155», ОАО «Мегаполис», ООО «РСУ-37», ЗАО «Шелдом», ООО ППС «Лесстр», ООО «УК Генстрой», ООО ПСК «Евро-Дом», ООО «СтроТехПроект», ОАО «ТАИФ», ООО «ГСС Инжиниринг», ГК «Конти», ЗАО «Элгад».
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">17 км от МКАД</div>
            <div class="infogra-popup-desc-2">
                Основным преимуществом для наших клиентов, ввиду сложившейся значимости Москвы, как логистического центра России, является доступность и открытость производства, а также складского пункта, позволяющего нам, нашим клиентам и партнёрам, в максимально сжатые сроки осуществлять поставку не только по Москве и области, но и в отдалённые регионы.
                <br><br>&nbsp;Ещё одним преимуществом для конечных потребителей и монтажных организаций является возможность открытого посещения производства.
                <br><br>&nbsp;Во время посещения вы сможете познакомиться с технологией производства, методиками испытаний, а также задать вопросы технического и коммерческого характера по основному перечню номенклатуры.
                <br><br><a href="@Utils.LangHref(lang,"info/delivery-options")">Узнать подробно про Доставку / Самовывоз</a>.
                <br><br>Для контрагентов доступна функция посещения производства с курирующем Вас Коммерческим представителем. Для конечных потребителей мы разрабатываем удобную схему коллективного посещения, ожидайте новостей в социальных сетях!
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Проектирование</div>
            <div class="infogra-popup-desc-2">
                Компания выполняет весь комплекс работ по проектированию внутренних инженерных систем жилых, общественных и административных зданий, квартир, коттеджей и таунхаусов под ключ.
                <br><br>&nbsp;Работа над проектом проходит все необходимые этапы:
                <br><br>- Получение исходных данных, определение объёмов проектных работ;
                <br>- Составление технического задания на проектирование инженерных систем;
                <br>- Заключение договора на проектные работы;
                <br>- Выполнение проектных работ;
                <br>- Прохождение согласований в соответствующих инстанциях (если требуется);
                <br>- Авторский надзор во время монтажа и участие в сдаче объекта (если требуется).
                <br><br>&nbsp;Все проекты – от стандартных решений до сложных технических узлов, разрабатываемых инженерами корпорации Бир Пекс, - соответствуют санитарно-техническим, экологическим и противопожарным нормам и требованиям, действующим на территории РФ.
                <br><br>&nbsp;Нами спроектированы системы для более 1 млн. кв. м. площадей различного назначения.
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Производственная испытательная лаборатория</div>
            <div class="infogra-popup-desc-2">
                Аргументированное соответствие требованиям нормативной документации на выпуск напорных труб и фитингов, доказывающее высокое качество изделий, требует от изготовителя обязательного проведения целого ряда трудоёмких испытаний:
                <br><br>- межоперационных
                <br>- приёмно-сдаточных
                <br>- типовых
                <br>- инспекционных.
                <br><br>&nbsp;С этой целью производственная лаборатория Фирмы БИР ПЕКС оснащена всем необходимым контрольно-измерительным и испытательным оборудованием, позволяющим в полной мере гарантировать потребителю соответствие трубной продукции БИР ПЕКС требованиям технических условий предприятия, а также Государственных отраслевых стандартов.
                <br><br>&nbsp;Испытательное оборудование производственной лаборатории БИР ПЕКС позволяет проводить проверки полимерных труб, фитингов и их соединений на соответствие требованиям ГОСТ 32415-2013 «Трубы напорные из термопластов» и ГОСТ 53630-2015 «Трубы напорные многослойные».
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Производство труб из сшитого полиэтилена</div>
            <div class="infogra-popup-desc-2">
                Основываясь на многолетний опыт экструзионной переработки силанольносшитых полиэтиленов, монтажа и эксплуатации систем высокотемпературного отопления, с применением труб PE-Xb, фирма Бир Пекс взяла на себя смелость и ответственность быть первыми и единственными в адаптации требований ISO 10508:2006 к суровым российским климатическим условиям с более длительным отопительным сезоном.
                <br><br>&nbsp;В итоге специалистами Фирмы был освоен выпуск труб БИР ПЕКС Премиум 6 класса, рассчитанных на рабочую температуру до 95°C и давление до 1,0 МПа. Суммарный срок эксплуатации при температурах от 80°С до 95°C для этих труб составляет 25 лет, против 10 лет при 80°C для труб 5-го класса, согласно ГОСТ 32415.
                <br><br>&nbsp;При проектировании высокотемпературных систем отопления следует учитывать, что 5-й класс эксплуатации разрешает применение теплоносителя с рабочей температурой 90°C в течении не более 1(одного) года за весь срок службы полимерных труб в данных системах, это серьёзное ограничение как раз и позволяет преодолеть трубная продукция<br> «<a href="@Utils.LangHref(lang,"cat/truba_premium")">БИР ПЕКС Премиум ПЭ-Сс (PE-Xb) 6 класс</a>».
                <br><br><div class="class5"><img src="/img/new/5class.png"></div>
                <br><br><div class="class6"><img src="/img/new/6class.png"></div>
            </div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
    <div class="infogra-container-popup">
        <div class="infogra-popup-desc">
            <div class="infogra-popup-desc-1">Единственные трубы <br> 6 КЛАССА</div>
            <div class="infogra-popup-desc-2"></div>
            <div class="infogra-popup-x"></div>
        </div>
    </div>
</div>

<!-- Конец инфографики-->
<div class="bg2">

    <!-- Начало оптима стандарт премиум-->
    <a href="@Utils.LangHref(lang,"cat/sovremennye_ingenernye_sistemy")">
        <div class="txt-solution">@Utils.LC("Современные инженерные системы", "Sustainable Water Supply Systems", lang)</div>
    </a>
    <div class="txt-talk">@Utils.LC("Рабочие показатели температуры и давления", "Operating Temperature and Pressure", lang)</div>
    <div class="osp">
        <div class="optima-new">
            <a href="@Utils.LangHref(lang,"cat/byrpex_optima")">
                <div class="optima-circle-left"><div class="optima-gif"></div></div>
                <div class="optima-txt-container">

                    <div class="optima-txt-name">@Utils.LC("Оптима", "Optima", lang)</div>
                    <div class="optima-temp">@Utils.LC("+80 °C / 0.6 МПа", "+80 °C @ 6 bar", lang)</div>
                    <div class="optima-model">(PE-Xb) SDR 11</div>
                </div>
                <div class="optima-circle-right"><div class="optima-objim"></div></div>
                <div class="optima-circle-right-border"></div>
            </a>
        </div>



        <div class="standart-new">
            <a href="@Utils.LangHref(lang,"cat/byrpex_standart")">
                <div class="standart-circle-left"><div class="standart-gif"></div></div>
                <div class="standart-txt-container">
                    <div class="standart-txt-name">@Utils.LC("Стандарт", "Standard", lang)</div>
                    <div class="standart-temp">@Utils.LC("+80 °C / 1 МПа", "+80 °C @ 10 bar", lang)</div>
                    <div class="standart-model">(PE-Xb) SDR 7.4</div>
                </div>
                <div class="standart-circle-right"><div class="standart-compress"></div></div>
                <div class="standart-circle-right-border"></div>
            </a>
        </div>





        <div class="premium-new">
            <a href="@Utils.LangHref(lang,"cat/byrpex_premium")">
                <div class="premium-circle-left"><div class="premium-gif"></div></div>
                <div class="premium-txt-container">
                    <div class="premium-txt-name">@Utils.LC("Премиум", "Premium", lang)</div>
                    <div class="premium-temp">@Utils.LC("+95 °C / 0.8 МПа", "+95 °C @ 8 bar", lang)</div>
                    <div class="premium-model">(PE-Xb) SDR 7.4</div>
                </div>
                <div class="premium-circle-right"><div class="premium-compress"></div></div>
                <div class="premium-circle-right-border"></div>
            </a>
        </div>



    </div>
    <!-- Конец оптима стандарт премиум-->
    <!-- Начало цитаты-->
    <div class="quote">
        <div class="skoba1"></div>
        <div class="txt-talk">
            Эксплуатационные характеристики применяемых комплектующих - труб, фитингов, коллекторных групп, терморегулирующей арматуры должны соответствовать условиям применения и требуемым параметрам инженерных систем. Поэтому в зависимости от конкретных задач специалистами корпорации и были сформированы линейки продукции Премиум, Стандарт и Оптима.
        </div>
        <div class="skoba2"></div>
    </div>
    <!-- Конец цитаты-->
    <!-- Начало карусели здания-->
    <div class="txt-solution">@Utils.LC("Портфолио объектов", "Portfolio of objects", lang)</div>
    <Buildings />
    <!-- Конец карусели здания-->
</div>
<!-- Начало FAQ-->
<div class="slr-container">
    <div class="slr-box-container">
        <a href="@Utils.LangHref(lang,"sale")"><div class="slr-box-sale"></div></a>
    </div>
    <div class="slr-box-container">
        <a href="@Utils.LangHref(lang,"docs")"><div class="slr-box-lib"></div></a>
    </div>
    <div class="slr-box-container">
        <a class="mutual" href="@Utils.LangHref(lang,"info/partnership")"><div class="slr-box-rel"></div></a>
    </div>
    <div class="slr-box-container">
        <a href="@Utils.LangHref(lang,"bim")"><div class="slr-box-bim"></div></a>
    </div>
    <div class="slr-box-container">
        <a href="@Utils.LangHref(lang,"converter")"><div class="slr-box-conv"></div></a>
    </div>
    <div class="slr-box-container">
        <a href="@Utils.LangHref(lang,"network")"><div class="slr-box-network"></div></a>
    </div>
    <div class="slr-box-container" id="smeta">
        <div class="slr-box-smeta"></div>
    </div>
    <div class="slr-box-container" id="slr-box-pricelist">
        <div class="slr-box-pricelist"></div>
    </div>
</div>
<div class="line4">
    <FaqIndex />
    <NewsListIndex />
</div>
<!-- Конец FAQ-->
<!-- Начало заявка-->
<div class="line6">
    <div class="line6-left-container">
        <div class="line6-title-left">Информация</div>
        <div class="line6-left">
            <div class="line6-title2-left">Концепция</div>
            <div class="line6-text-left">визуальное представление системы с графическим сопровождением<br><br>Включает в себя:<br><br>&middot;отображение расстановки приборов, коллекторов, возможного оборудования и ориентировочной разводки труб в одну линию, без указания типов, характеристик и размеров.<br><br>Сроки предоставления 1-2 раб/дня.</div>
            <div class="line6-title2-left">Первоначальная спецификация</div>
            <div class="line6-text-left">Включает в себя:<br><br>&middot;приблизительный подбор приборов; <br>&middot;подбор возможного основного оборудования;<br>&middot;подбор условно-приближенного количества труб, исходя из общего представления об объекте, метража того или иного помещения, а также основываясь на концептуальном представлении объекта.<br><br>Сроки предоставления 2-4 раб/дня.</div>
            <div class="line6-title2-left">Проект стадии «Проект»</div>
            <div class="line6-text-left">для предоставления в согласующие инстанции (газовое хозяйство, тепловые сети, водяные сети, различные экспертные организации)<br><br>Включает в себя:<br><br>&middot;полный просчет основного оборудования, тепловых потерь здания, расчет водопотребления и водоотведения, расчет воздухообмена;<br>&middot;окончательное согласованное проектное решение с расстановкой оборудования, разводкой трубопроводов;<br>&middot;выдачу полной спецификации<br><br>Сроки предоставления 3-10 раб/дня.</div>
        </div>
    </div>
    <div class="line6-right">
        <div class="line6-title-right">Заявка на проект</div>
        <div class="project-input-container">
            <input class="project-input" type="text" name="name" value="" placeholder="Как к вам обращаться?" id="project-person-name" autocomplete="off">
            <input class="project-input" type="text" name="address" value="" placeholder="Адрес объекта" id="project-address" autocomplete="off">

            <input class="project-input" type="text" name="m" value="" placeholder="Квадратура (м&#178;)" id="metr" autocomplete="off">
            <input class="project-input" type="text" name="tel" value="" placeholder="Номер телефона*" id="project-tel" autocomplete="off">
        </div>
        <div class="onlydigits"></div>
        <div class="switch-container">
            <label class="label-reg">
                <div class="toggle">
                    <input id="project-toggle-state" class="toggle-state3 x" type="checkbox" name="check" value="" />
                    <div class="indicator3"></div>
                </div>
                <div class="label-text fadeIn first">Физическое лицо</div>
            </label>

        </div>
        <div class="project-linemiddle"><div class="project-typeofwork">Выберете вид работ</div></div>
        <div class="typeofwork">
            <button class="typeofwork-button" name="heating" value="">Отопление и/или «Тёплый пол»</button>
            <button class="typeofwork-button" name="ventilation" value="">Вентиляция</button>
            <button class="typeofwork-button" name="watersupply" value="">Водоснабжение и Канализация</button>
            <button class="typeofwork-button" name="conditioning" value="">Кондиционирование или «Холодный потолок»</button>
        </div>
        <div class="project-linemiddle"><div class="project-typeofwork">Выберете тип услуги</div></div>
        <div class="typeofservice-container">
            <div class="typeofservice">
                <button class="typeofservice-button" name="heating" value="">Концепция</button>
            </div>
            <div class="typeofservice">
                <button class="typeofservice-button" name="ventilation" value="">Первоначальная спецификация</button>
            </div>
            <div class="typeofservice">
                <button class="typeofservice-button" name="watersupply" value="">Проект стадии «Проект»</button>
            </div>
        </div>
        <div class="file-container">
            <input type="file" accept=".txt,image/*" class="choose-file" multiple name="file">
            <div class="choose-file">выбрать файл</div>
            <div class="delete-file">удалить</div>
        </div>
        <div class="filename"></div>
        <div class="project-price">Максимальная стоимость проекта</div>

        <div class="price-container">
            <div class="black-x"></div>
            <div class="checkup"></div>
            <div class="price-txt-container">
                <div class="check-txt-black-bold2">Виды работ</div>
                <div id="typeofservice-choosen"></div>
                <div class="check-txt-black-bold2">Тип услуги</div>
                <div id="typeofwork-choosen"></div>

            </div><br>
            <div class="check-txt-black" id="all-metr"></div><br>
            <div class="check-txt-black">Максимальная сумма<br> проектирования</div><br><br>
            <div id="typeofwork-typeofservice-choosen-sum"></div>

            <div class="checkdown"></div>
        </div>

        <div class="price-container">
            <div class="black-x"></div>
            <div class="checkup"></div>
            <div class="check-txt-black-bold" id="message"></div>
            <div class="checkdown"></div>
        </div>

        <button class="project-submit" id="project-submit">Отправить</button>

        <div class="project-linebottom"></div>


    </div>
</div>

<!-- Конец заявка-->
@*<AuthorizeView>
        <Authorized>
            <h1>Hello @context.User.Claims.First().Value</h1>
        </Authorized>
    </AuthorizeView>*@

@code
{
    [CascadingParameter] string lang { get; set; }
}