@using Data.Services

<div data-wareid="@ID" data-mode="qcont" class="filter-qty-container">
 
        <div data-wareid="@ID" data-change="-1" title="@Utils.LC(MLText.Decrease,lang)" class="filter-qty-minus">-</div>
        <input type="text" name="qty" min="0" data-wareid="@ID" value="0" id="qty">
        <div data-wareid="@ID" data-change="1" title="@Utils.LC(MLText.Increase,lang)" class="filter-qty-plus">+</div>
 
</div>

<div style="display: none;" data-wareid="@ID" data-mode="rcont">
    <div data-wareid="@ID" data-change="A">
        <div title="@Utils.LC(MLText.According,lang)">@Utils.LC(MLText.Required, lang) &nbsp;</div>
        <div data-wareid="@ID" data-mode="rval"></div>
    </div>
</div>
@code
{
    [Parameter]
    public string ID { get; set; }
    [CascadingParameter] string lang { get; set; }
}
