@page "/ru/info/design"
@page "/en/info/design"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "design");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/design");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="gray-txt-url"><NavLink href="@Utils.LangHref(lang,"info/activities")">@Utils.LC("Виды деятельности", "", lang)</NavLink></div>
    <div class="main-title">Проектирование</div>
    <div class="offer-container-row">
        <div class="items-img"><img src="/img/info/structure/design-1.jpg"></div>
        &nbsp;Компания выполняет работы по проектированию инженерных систем зданий, включая системы отопления и водоснабжения с применением труб производства корпорации БИР ПЕКС. Вся проектная деятельность корпорации с момента основания проектного направления проходит необходимые аттестационные процедуры, предусмотренные действующим законодательством РФ. Кроме того, мы также сотрудничаем с проектными организациями во многих городах России и зарубежья.
        <br><br>&nbsp;Проектный отдел корпорации БИР ПЕКС производит все проектные работы с использованием специализированного лицензионного программного обеспечения по созданию чертежей и расчетов, что позволяет снизить вероятность ошибок до минимума, и, соответственно, выполнить проектные работы в сжатые сроки.
        <br><br>&nbsp;При разработке проектов с использованием инновационных решений достигается соответствие проектной документации современным требованиям. Благодаря этому обеспечивается максимальный уровень комфорта для деятельности людей.

        <br><div class="items-img"><img src="/img/info/structure/design-2.jpg"></div>
        &nbsp;Все проекты – от стандартных решений до сложных технических узлов, разрабатываемых инженерами корпорации БИР ПЕКС, соответствуют санитарно-гигиеническим, экологическим, противопожарным нормам и требованиям, действующим на территории РФ.
        <br><br>&nbsp;Стоимость, энергозатратность, функциональность, соответствие пожеланиям заказчика проектировщики Компании БИР ПЕКС согласовывают со смежниками: архитекторами, конструкторами, технологами.
        <br><br>&nbsp;Работа над проектом проходит все необходимые этапы:
        <br><br>&bull;Получение исходных данных, определение объемов проектных работ;
        <br>&bull;Составление технического задания на проектирование инженерных сетей;
        <br>&bull;Заключение договора на проектные работы;
        <br>&bull;Выполнение проектных работ;
        <br>&bull;Прохождение согласований в соответствующих инстанциях (если требуется);
        <br>&bull;Авторский надзор во время монтажа и участие в сдаче объекта (если требуется);
        <br><br>&nbsp;Проектирование современных инженерных систем – сложный комплекс из множества составляющих. Все составляющие проекта, такие как система отопления, электрика или канализационная система, должны быть устроены максимально удобно и гармонично между собой сочетаться. Малейшие недочеты влекут за собой проблемы в эксплуатации.
        <br><br>&nbsp;Удачно спроектированные инженерные сети делают жизнь человека комфортной и непосредственно влияют на многие процессы в жизни общества.

    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}