@page "/ru/info/innovations"
@page "/en/info/innovations"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "innovations");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/innovations");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="gray-txt-url"><NavLink href="@Utils.LangHref(lang,"info/activities")">@Utils.LC("Виды деятельности", "", lang)</NavLink></div>
    <div class="main-title">Инновации</div>

    <div class="offer-container-row">
        <div class="items-img"><img src="/img/info/structure/innovations-1.jpg"></div>
        &nbsp;Знания, полученные от исследовательской деятельности, в сочетании с накопленным собственным опытом и анализом мировых премьер и тенденций, помогают правильно сформулировать требования, выбрать материал и направить инженерную мысль на решение необходимых задач. Так появляются нехитрые решения, которые по праву называются инновационными.
        <br><br>&nbsp;Корпорация БИР ПЕКС начала свою деятельность в 1999 году с освоения новой для СНГ технологии производства труб для систем отопления и водоснабжения. Инновационное решение в энергоемком участке пароводяной обработки позволило на 15-20% снизить энергозатраты и вдвое сократить время обработки без потери свойств готовой продукции. Производство трубы по новой технологии оказалось очень успешным и по многим параметрам превзошло зарубежные аналоги. Трубы БИР ПЕКС стали одними из немногих на рынке России, способных длительно эксплуатироваться с температурой 95 °С при давлении до 10 атм.
        <br><br>&nbsp;С каждым годом специалисты компании совершенствуют технологический процесс, оборудование технологических линий и производимую нами продукцию.
        <br><br>&nbsp;В 2000 году Фирма БИР ПЕКС выпустила ТУ по производству компрессионных и напрессовочных фитингов, где был учтен весь имеющийся опыт  – от аналогов мировых производителей, до деталей при производстве работ. Так получились фитинги, которые имеют оптимальные формы, вес и т.д.
        <br><br>&nbsp;В 2005 году была разработана и запущена не имеющая в мире аналогов установка 100% визуального контроля экструдата, которая фиксирует малейшие изменения в структуре материала, что на 99% обеспечивает гарантию качества готовой продукции.

        <br><div class="items-img"><img src="/img/info/structure/innovations-2.jpg"></div>
        &nbsp;В 2010 году давний и надежный партнер Корпорации БИР ПЕКС английская компания Майкропол, сырье которой мы используем с начала производства труб, анонсировала новую марку сшитого полиэтилена для термопластавтоматов, т. е. пригодного для производства фитингов. Это событие позволило нам приступить к разработке пластиковых фитингов для наших труб. Они будут лишены известных проблем широко используемого нашими конкурентами ППСУ, который, как известно, имеет слабую устойчивость при внешнем воздействии (хрупкость), а также не позволяет сделать фитинг с внутренней резьбой.
        <br><br>&nbsp;Уже в 2011 году были получены опытные отливки, защищены сразу три патента на одном маленьком изделии и произведена подготовка производства, чтобы в начале 2012 года новая продукция имелась бы в товарных количествах на складах Корпорации.
        <br><br>&nbsp;Необходимость эффективного приложения усилий и имеющегося опыта во всех уголках России заставила нас отказаться от дилерских схем работы и привела к открытию собственных представительств.
        <br><br>&nbsp;Все подразделения Корпорации объединены единой современной телефонной сетью, средствами корпоративного общения, включая так называемые решения ГруппОфис, электронными базами данных и т. д.
        <br><br>&nbsp;Корпорация БИР ПЕКС уделяет большое внимание не только экологичности материалов, используемых при производстве, но и экологичности конечных инженерных решений зданий и сооружений, где эта продукция используется. Мы верим, что забота о здоровье человека и защита окружающей среды – это наиболее важные для человечества стороны жизни.
        <br><br>&nbsp;Корпорация БИР ПЕКС применяет и совершенствует устройство современных экологичных, эстетичных и энергоэффективных решений типа «теплый пол» или «охлаждаемая панель», которые легко замыкаются на единый термодатчик в помещении и выполняют роль «умного дома» без дополнительного дорогостоящего оборудования автоматизации.
        <br><br>&nbsp;Корпорация БИР ПЕКС постоянно инвестирует в инновационные проекты для получения новых знаний и развития идей по улучшению жизни людей в технологической и организационной форме существования.
        <br><br>&nbsp;Нововведения направляются на повышение эффективности и экономичности систем, качества жизни и удовлетворенности клиентов нашей компании.

        <br><div class="items-img"><img src="/img/info/structure/innovations-3.jpg"></div>
    </div>

</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}