@page "/ru/info/installation"
@page "/en/info/installation"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "installation");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/installation");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="gray-txt-url"><NavLink href="@Utils.LangHref(lang,"info/activities")">@Utils.LC("Виды деятельности", "", lang)</NavLink></div>
    <div class="main-title">Строительство</div>

    <div class="offer-container-row">
        <div class="items-img"><img src="/img/info/structure/installation-1.jpg"></div>
        &nbsp;Компания БИР ПЕКС входит в число крупнейших российских фирм, специализирующихся на создании инженерных систем жизнеобеспечения современных зданий, и выполняет собственными силами полный комплекс работ по монтажу, пуско-наладке и сервисному обслуживанию внутренних инженерных систем по следующим разделам:
        <br><br>&bull;Вентиляция
        <br>&bull;Холодоснабжение (холодильные центры)
        <br>&bull;Отопление, водоснабжение, канализация
        <br>&bull;Системы оборотного водоснабжения
        <br>&bull;Комплексные системы безопасности
        <br>&bull;Системы электроснабжения, автоматизации и диспетчеризации инженерных систем
        <br>&bull;Системы тепло- и пароснабжения (котельные)
        <br>&bull;Другие внутренние инженерные системы
        <br><br>&nbsp;Силами квалифицированных специалистов осуществляется полный цикл мероприятий по консультациям, выбору оптимальных моделей оборудования и схем его размещения, монтажу, пусконаладочным работам и вводу систем в эксплуатацию. Специалисты Компании проводят все необходимые согласования для ввода объекта в эксплуатацию в соответствующих согласовательных и разрешительных органах.

        <br><div class="items-img"><img src="/img/info/structure/installation-2.jpg"></div>
        &nbsp;Концепция работы Компании БИР ПЕКС основывается на индивидуальном подходе и оказании максимальной помощи в создании современной инженерной системы жизнеобеспечения зданий с использованием самого надежного оборудования и современных технологий.
        <br><br>&nbsp;Накопленный опыт в области ремонта и обслуживания инженерных систем зданий позволяет специалистам службы качественно и в предельно сжатые сроки осуществлять ремонтные и сервисные работы, а также проводить техническую экспертизу оборудования с предоставлением профессиональных рекомендаций по профилактическому сервисному обслуживанию. Также возможно проведение консультаций с целью организации качественной эксплуатации оборудования.

        <br><div class="items-img"><img src="/img/info/structure/installation-3.jpg"></div>
        &nbsp;Команда службы строительства способна решать самые сложные задачи в области инженерных систем зданий любого уровня сложности. В службе строительства работают более 150 сотрудников инженерно-технического состава, распределенных по таким отделам как:
        <br><br>&bull;Производственно-технический отдел;
        <br>&bull;Служба Главного инженера;
        <br>&bull;Сметно-договорной отдел;
        <br>&bull;Служба Управления проектами.
        <br><br>&nbsp;Специалисты Компании БИР ПЕКС прошли обучение технологиям подбора, монтажа и проведения пусконаладочных работ в России и за рубежом на предприятиях фирм-производителей, имеют дипломы и квалификационные сертификаты на проектирование и монтаж сложного технического оборудования как зарубежного так и отечественного производства.
        <br><br>&nbsp;При проведении монтажных работ используется специализированное профессиональное оборудование, что гарантирует безупречное качество работ. Мы используем только высококачественные материалы и монтажные приспособления.

    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}