@page "/ru/info/production"
@page "/en/info/production"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "production");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/production");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="gray-txt-url"><NavLink href="@Utils.LangHref(lang,"info/activities")">@Utils.LC("Виды деятельности", "", lang)</NavLink></div>
    <div class="main-title">Производство</div>
    <div class="offer-container-row">
        <div class="items-img"><img src="/img/info/structure/production-1.jpg"></div>
        &nbsp;Фирма БИР ПЕКС производит трубы из молекулярно-сшитого полиэтилена ПЭ-сс (PEX-b), фитинги к ним и дополнительное оборудование для внутренних систем отопления и водоснабжения.
        <br><br>&nbsp;В январе 1999 года в Саратове Фирма БИР ПЕКС первая в СНГ освоила технологию переработки сырья Isoplas компании Micropol на оборудовании компании Boston Matthews (Великобритания), которое позволяет производить до 24 км труб в сутки. Запуск линии и обучение персонала производились под руководством опытных английских инженеров.
        <br><br>&nbsp;Ассортимент труб БИР ПЕКС включает в себя 14 типоразмеров, 7 диаметров и 3 класса прочности.
        <br><br>&nbsp;Несмотря на кризис 2008 года, Фирма БИР ПЕКС закупила и запустила в эксплуатацию вторую производственную линию для предотвращения возникновения дефицита: спрос на продукцию компании постоянно растет.
        <br><br>&nbsp;БИР ПЕКС с 2000 года является официальным партнером компании SCE (Гонконг), совместно с которой выпускаются фитинги компрессионного и напрессовочного типов под торговой маркой EAGLE-BYRPEX. Фасонные детали изготавливаются из пищевой стойкой к обесцинкиванию латуни методом горячей штамповки, что делает их исключительно прочными и долговечными.

        <br><div class="items-img"><img src="/img/info/structure/production-2.jpg"></div>
        &nbsp;Дополнительно Фирмой БИР ПЕКС
        <br><br>&bull;освоено производство элементов крепежа и коллекторных шкафов;
        <br>&bull;совместно с компанией Klauke (Германия) разработан и запущен в производство удобный и компактный электрогидравлический инструмент, автоматизирующий процессы расширения трубы и напрессовки гильзы.


        <br><br>&nbsp;В 2012 году на собственных мощностях планируется начать серийный выпуск фитингов из молекулярно-сшитого ПЭ.
        <br><br>&nbsp;Качество продукции БИР ПЕКС подтверждено сертификатами РФ, Украины, Белоруссии, Единого Европейского союза, а также экспертным заключением Российской академии наук и исследованиями прочностных характеристик РХТУ им. Менделеева.
        <br><br>&nbsp;Вся продукция проходит проверку в соответствии с регламентными испытаниями согласно требованиям собственных ТУ, которые выше требований существующих ГОСТ-Р и ISО по основным параметрам устойчивости к температуре и давлению для длительного срока службы.
        <br><br>&nbsp;В январе 2012 года Корпорация БИР ПЕКС открыла новую производственную площадку на базе собственного офисно-складского комплекса «Поярково», где разместила целый ряд технологических цепочек и дополнительного оборудования.

        <br><div class="items-img"><img src="/img/info/structure/production-3.jpg"></div>
        &nbsp;Для производства наших труб мы выбираем только лучшее исходное сырье, максимально соответствующее целям использования в Российских климатических условиях. Поэтому, продукция БИР ПЕКС демонстрирует выдающиеся характеристики устойчивости к давлению, температуре, что многократно увеличивает срок службы системы при эксплуатации с рабочими параметрами.
        <br><br>&nbsp;Системы с использованием труб БИР ПЕКС смонтированы и эксплуатируются в самых высоких и известных зданиях, в серийном (муниципальном) строительстве, в системах подогрева стадионов и охлаждения катков по всей России.
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}