@page "/ru/info/research"
@page "/en/info/research"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "research");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/research");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="gray-txt-url"><NavLink href="@Utils.LangHref(lang,"info/activities")">@Utils.LC("Виды деятельности", "", lang)</NavLink></div>
    <div class="main-title">Исследования</div>
    <div class="offer-container-row">
        <div class="items-img"><img src="/img/info/structure/research-1.jpg"></div>
        &nbsp;Иccледования дают уверенность в правильном выборе.
        <br><br>&nbsp;В период с 2001 по 2008 год мы провели глубокие исследования длительной прочности труб из различных видов сшитых полиэтиленов при работе с теплоносителем при температуре 95 °С. Эти исследования не имели аналогов в мире, а полученные в результате знания помогают сегодня при оценке качества и применимости появляющихся материалов.
        <br><br>&nbsp;Основным направлением деятельности Корпорации БИР ПЕКС является производство компонентов для современных внутренних систем питьевого горячего/холодного водоснабжения, отопления, включая «Теплый пол», и холодоснабжения. Поэтому приоритетно были исследованы полимерные материалы, наиболее подходящие для данных систем и российских условий.

        <br><div class="items-img"><img src="/img/info/structure/research-2.jpg"></div>
        &nbsp;Мы исследовали продукцию как собственного производства, так и производства других фирм, как на собственной базе, в производственной лаборатории, так и на базе известных российских институтов. В данный момент наибольший интерес представляет последнее исследование «Сравнительный анализ структуры и свойств сшитых различными методами полиэтиленов», проведенное совместно с Российским химико-технологическим университетом им. Д. И. Менделеева.
        <br><br>&nbsp;Инженерный отдел Корпорации проводит испытания нового появляющегося на рынке оборудования для инженерных систем на предмет качества и взаимной совместимости. Для наших клиентов результат этой работы выражается, в частности, в консультациях квалифицированных специалистов по применению оборудования, и в рекомендациях по проектированию, опубликованных в разделе «Проектирование».
        <br><br>&nbsp;Результаты исследований маркетингового отдела наши партнеры и клиенты могут видеть в наших каталогах и информационных материалах. В ближайшее время будет введена в работу полная версия динамически обновляемого электронного каталога с возможностью online-заказа для зарегистрированных клиентов.

        <br><div class="items-img"><img src="/img/info/structure/research-3.jpg"></div>
        &nbsp;Сравнительный анализ физико-химических параметров показал значительные преимущества силанольно-сшиваемых композиций высокой плотности перед композициями с другими типами сшивки. Причина – меньшее межмолекулярное расстояние, большая энергия связей, большее количество пучков связей и их более правильное построение. Результатом, в частности, является  снижение значений кислородопроницаемости стенки трубы без дополнительного слоя. Всё это позволяет эксплуатировать трубы из молекулярно-сшитого полиэтилена с температурой теплоносителя 95 °С и давлением 10 атм. без накопления напряжений (усталости), что многократно увеличивает срок службы труб, а лучшая реалогия (снятие напряжения) позволяет без каких-либо последствий выдерживать аварийные выбросы до 120 °С, а также броски давления.
        <div class="items-img"><img src="/img/info/structure/research-4.jpg"></div>
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}