@page "/ru/info/supply"
@page "/en/info/supply"

@using Data.Services

@{
    var Item = DbContext.GetItemFromCollection<ContentPage>(x => x.Slug == "supply");
    var cannonical = Settings.HomePage + Utils.LangHref(lang, "info/supply");
}
<Title>@Utils.LC(Item.MetaTitle, lang)</Title>
<Meta Name="description" Content="@Utils.LC(Item.MetaDescription, lang)" />
<Link Rel="canonical" Href="@cannonical" />
<link href="/css/desktop/structure.css" rel="stylesheet" />


<!-- Начало инфо-->
<div class="part-container">
    <div class="gray-txt-url"><NavLink href="@Utils.LangHref(lang,"info/activities")">@Utils.LC("Виды деятельности", "", lang)</NavLink></div>
    <div class="main-title">Продажи</div>
    <div class="offer-container-row">
        <div class="items-img"><img src="/img/info/structure/supply-1.jpg"></div>
        &nbsp;Торговая сеть Корпорации БИР ПЕКС представлена в 34 городах России и в странах ближнего зарубежья. Во всех офисах Вам предложат квалифицированную помощь в подборе продукции, предоставят рекламные и технические каталоги, обеспечат максимально быструю поставку.
        <br><br>&nbsp;В рамках данной деятельности специалисты Корпорации постоянно проводят анализ рынка новых материалов и разрабатывают современные решения для инженерных систем. Результатом этой работы является постоянно расширяющийся ассортимент предлагаемой нами продукции и выверенный выбор производителей по каждому её виду.

        <br><div class="items-img"><img src="/img/info/structure/supply-2.jpg"></div>
        &nbsp;Сегодня торговое направление Корпорации БИР ПЕКС представляет на рынке многие торговые марки. Благодаря партнерским отношениям с разными производителями, мы предлагаем клиентам полную комплектацию всех инженерных систем по ценам заводов-изготовителей.
        <br><br>&nbsp;Корпорация БИР ПЕКС в 2008 году в целях оптимизации расходов на аренду площадей и из-за многократно возросших торговых оборотов и складских запасов приобрела в собственность производственно-складскую базу в 17 км от МКАД по Ленинградскому шоссе. Это – более 5000 м² площадей на 1,5 га земли.
        <br><br>&nbsp;Для удобства клиентов Корпорация БИР ПЕКС, обладая собственным парком автомобилей, предлагает бесплатную доставку товаров (условия доставки уточняйте у Ваших менеджеров).

        <br><div class="items-img"><img src="/img/info/structure/supply-3.jpg"></div>
        &nbsp;Корпорация БИР ПЕКС успешно сотрудничает с крупнейшими строительными организациями: ЗАО «ДОН-строй», ЗАО «СпецВысотСтрой», СК «СУ-155», ОАО «Мегаполис», ООО «РСУ-37», ЗАО «Шелдом», ООО ППС «Лесстр», ООО «УК Генстрой», ООО «ПСК «Евро-Дом», ООО «СтройТехПроект», ОАО «ТАИФ», ООО «ГСС Инжиниринг» ГК «КОНТИ», ЗАО «Элгад». Некоторые объекты, в комплектации которых мы принимали активное участие, можно увидеть на сайте в разделе «Строительные объекты».
        <br><br>&nbsp;Корпорация БИР ПЕКС представлена на двух самых крупных площадках по электронным торгам — ЗАО «Сбербанк - АСТ» и ОАО «ЕЭТП», ведет активную работу с государственными заказчиками, среди которых Государственный Кремлевский Дворец, Войсковая часть 55056 (ФСБ), ГОУ ДОДСН МГФСО Москомспорта, ФГУ «Государственный академический Большой театр России» и многие другие.
    </div>
</div>
<!-- Конец инфо-->
@code
{
    [CascadingParameter] string lang { get; set; }
}